.main{
  height: 620px;
  width:1140px;
  align-content: center;
}
.jumbotron{
  background-image: url('model.jpg');
}
.card-text{
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 20px;
}
.card-title{
  font-family: 'Cormorant Garamond', Serif;
  font-size: 35px;
}
.card-body{
  background-color: #547AA5;
}
.card-img-top{
  height:286px;
  weight:286px;
}
h1{
  font-family: 'Faster One', cursive;
}
