.main{
  height: 620px;
  width:1140px;
  align-content: center;
}
.jumbotron{
  background-image: url('model.jpg');
}
.card-text{
  font-family: 'Fira Sans', Sans-Serif;
  font-size: 20px;
  color:#D7FFF1;
}
.card-title{
  font-family: 'Cormorant Garamond', Serif;
  font-size: 35px;
  color:#D7FFF1;
}
.card-body{
  background-color:#3C493F;
}
.card-img-top{
  height:286px;
  weight:286px;
}
h1{
  font-family: 'Faster One', cursive;
}
.carousel-inner{
    height: 800px;
  }

  .carousel-item{
      height: 100% !important;
      width:  100% !important;
  }
.jumbotron{
  background-color:#98DFAF ;
}
